@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$montserrat: 'Montserrat', sans-serif;

$white: #fff;
$black: #000;
$rose: #ffdddd;
$grey: #cbcbcb;
$blue: rgba(219, 231, 255, 1);
$blue2: rgba(31, 26, 60, 1);
$bg_1: #fdefe6;
$bg_2: #ceebe9;
$bg_3: #e2f2b2;
$bg_4: #d6e5fb;